* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.products-container {
  width: 90%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 10px;
}

img {
  width: 200px;
  height: 250px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.card {
  border-radius: 30px;
  background-color: #ffffff;
  width: 390px;
  height: 700px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 1px 1px #ebebeb;
}
.card .card-title h3 {
  font-size: 20px;
  margin-top: 10px;
}

.card-description {
  height: 500px;
  border-radius: 30px;
  display: flex;
  align-items: justify;
  flex-direction: column;
  margin-top: 40px;
}
.content .heading1 h1 {
  text-align: left;
  margin-left: 50px;
  margin-top: 30px;
}
