.watchlist-button {
  margin-top: 2vh;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 4vh;
  width: 3vw;
}

.watchlist-button.in-watchlist {
  background-color: #aaa3a3;
  color: black;
}

.watchlist-button:not(.in-watchlist) {
  background-color: #ffffff;
  color: black;
}

.watchlist-button:hover {
  opacity: 0.8;
}
