.category-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 2vw;
  width: 45vw;
  height: 30vh;
}

.category-tile .link {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem; /* Adjusted to fit better */
  text-align: center;
}
