.categories {
  display: flex;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 2%;
}

.categories .catLink {
  font-size: 3vw; /* This will make the font size responsive */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8vw; /* Use vw units for gap to keep it proportional */
}

.categories .catLink .men {
  background-color: #2bd9af;
}

.categories .catLink .women {
  background-color: #ff5e84;
}

.categories .catLink .link {
  color: #ffffff;
  text-decoration: none; /* Ensure the links have no underline */
}

.categories .men,
.categories .women {
  display: flex;
  width: 40vw; /* Use vw for responsive width */
  height: 30vh; /* Use vh for responsive height */
  border-radius: 40px; /* Use vw for responsive border radius */
  justify-content: center;
  align-items: center;
  transition: transform 0.2s; /* Add a transition for smooth hover effect */
}

.categories .men:hover,
.categories .women:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}
