.category-tile {
  display: flex; /* Use flex to center content */
  flex-grow: 1;
  height: 20vh;
  border-radius: 2vw;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;
}

.category-tile .link {
  color: #ffffff;
  text-decoration: none;
}
