.flash-sale-products {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  margin-left: 0.75vw;
  margin-top: -7px;
}
