.categories {
  display: flex;
  justify-content: center; /* Center the category tiles horizontally */
  margin: 20px;
}

.categories .catLink {
  display: flex; /* Use flexbox for side by side layout */
  gap: 45px; /* Add some space between the tiles */
}

.category-tile {
  flex: 1; /* Allow tiles to grow and fill available space */
  min-width: 900px; /* Set a minimum width to ensure proper size */
  height: 30vh;
  border-radius: 2vw;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;
}

.category-tile .link {
  color: #ffffff;
  text-decoration: none;
  font-size: 60px;
}
